@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

#map {
  width:100%;
  height:500px;
}

div.station_overlay {
  width: 38px;
  height: 38px;
  opacity: 0.7;
  border-radius: 19px;
  background-color: #009688;
  color: #FFFFFF;
  font-size: 18pt;
  text-align: center;
  vertical-align: middle;
}

div.my_bike_overlay {
  width: 61px;
  height: 32px;
  opacity: 0.7;
  border-radius: 8px;
  background-color: #004e78;
  color: #FFFFFF;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
  background: url('/assets/bike_my.png');
}

div.other_bike_overlay {
  width: 61px;
  height: 32px;
  opacity: 0.7;
  border-radius: 8px;
  background-color: #004e78;
  color: #FFFFFF;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
  background: url('/assets/bike_other.png');
}

a.not-active {
  color: #428bca !important;
}
.center {
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
  .buttons {
    margin: 0 auto;
    width: 165px;
  }
}
.station-header {
  .station-buttons {
    display: inline-block;
    margin-bottom: 15px;
    display: inline-block;
    .btn {
      margin-right: 20px;
    }
  }
  .total-cost {
    display: inline-block;
  }
}

@media only screen and (max-width: $screen-xs) {
  .station-header {
    .station-buttons {
      .btn {
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
    .total-cost {
      display: block;
      margin-bottom: 10px;
    }
  }
}

body.background {
  background: asset_url('login_picture.jpg') center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.white {
  color: #FFFFFF;
}

.alert.alert-alpha {
  background-color: rgba(0,0,0,0.70);
  color: #FFFFFF;
  border-color: #0198A1;
}