= favicon_link_tag 'favicons/16.ico'
= favicon_link_tag 'favicons/32.ico'

= favicon_link_tag 'favicons/16.png', type: 'image/png'
= favicon_link_tag 'favicons/32.png', type: 'image/png'


= favicon_link_tag 'favicons/512.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
= favicon_link_tag 'favicons/160.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
= favicon_link_tag 'favicons/144.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
= favicon_link_tag 'favicons/114.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
= favicon_link_tag 'favicons/32.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'